doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/dropzone.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/js/jquery-1.11.3.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
		script(src="/js/dropzone.js")
		script(src="/js/exif.js")
		script(src='/js/app.js')
		script(src='/js/bootstrap-typeahead.js')

	body.dzone
		header
			div.container-fluid
				h1.pull-left PhotoApp
		div.navbar.navbar-default
			ul.nav.navbar-nav.pull-left
				li
					a(class="" href="/albums" id="category") Album

				li
					a(class="" href="/showTags" id="tagsList") Tags
				li
					a(href="javascript:void(0)" class="pull-right upload_link") Upload
				li
					a(href="javascript:void(0)" class="pull-right create-album") Create Album
				li
					a(href="javascript:void(0)" class="pull-right delete-image") Delete
				li
					a(href="/favourite" class="pull-right do-favourite") Favourite


			ul.nav.navbar-nav.pull-right
				li
					a(class="glyphicon glyphicon-info-sign" id="img-info" href="#")

			div.text-center.search-box
				div.input-group
					input(type="text" placeholder="Search" class="form-control" id="searchbytag")
              
		block content