extends layout.jade
block content
	<div class="jumbotron text-center">
	<h1><span class="fa fa-lock"></span> Node Authentication</h1>
	<p>Login or Register with:</p>
	<a class="btn btn-danger" href="/auth/google"><span class="fa fa-google-plus"></span> Google+</a>
	</div>
	//- <a class="btn btn-danger" href="/auth/google"><span class="fa fa-google-plus"></span> Google+</a>
